
.order-button {
    border: 2px solid rgb(0, 131, 123);
    color: rgb(0, 131, 123);
    background: #fff;
    padding: 10px;
    border-radius: 25px;
}

.delete-button {
    border: 2px solid red;
    color: red;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
}

button:focus {
    outline:0;
}

@media only screen and (min-width: 950px)  {
    .button {
        margin: 1.5em 1em 1em 1em;
        width: 180px;
        border: none;
        border-radius: 25px;
        height: 45px;
        color: #fff;
        cursor: pointer;
        font-size: medium;
        background-color: rgb(0, 131, 123);
    }
}

@media only screen and (max-width: 949px)  {
    .button {
        margin: 0.7em;
        width: 80%;
        border: none;
        border-radius: 25px;
        height: 45px;
        color: #fff;
        cursor: pointer;
        font-size: medium;
        background-color: rgb(0, 131, 123);
    }
}